flows/SampleFormWorkingCopy-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Add_New</name>
        <choiceText>Add New</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Up_to_Date_go_to_jobs_list</name>
        <choiceText>-- Up to Date -- go to jobs list</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Add_Or_Edit_Qs</name>
        <label>Add Or Edit Qualifications</label>
        <locationX>352</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>GetJSQ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_New_Q</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Edit_Qualifications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_New</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewJSQ</targetReference>
            </connector>
            <label>Add New</label>
        </rules>
        <rules>
            <name>Goto_Jobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Edit_Qualifications</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Up_to_Date_go_to_jobs_list</elementReference>
                </rightValue>
            </conditions>
            <label>Goto Jobs</label>
        </rules>
    </decisions>
    <description>Ready to add subflow for displaying missing v. matching qualifications.</description>
    <dynamicChoiceSets>
        <name>ExistingQualifications</name>
        <dataType>String</dataType>
        <displayField>Qualifications__c</displayField>
        <filters>
            <field>Job_Seeker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContactID</elementReference>
            </value>
        </filters>
        <object>Job_Seeker_Qualification__c</object>
        <outputAssignments>
            <assignToReference>thisJSQid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>newQualification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Qualifications__c</picklistField>
        <picklistObject>Job_Seeker_Qualification__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <interviewLabel>SampleFormWorkingCopy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SampleFormWorkingCopy</label>
    <loops>
        <name>qual_val_loop</name>
        <label>qual_val_loop</label>
        <locationX>1014</locationX>
        <locationY>180</locationY>
        <assignNextValueToReference>qual_looped</assignNextValueToReference>
        <collectionReference>qual_var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>thisNewQualification</name>
        <label>NewQualification</label>
        <locationX>606</locationX>
        <locationY>296</locationY>
        <assignRecordIdToReference>addedQualification</assignRecordIdToReference>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessages</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Desc__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Seeker__c</field>
            <value>
                <elementReference>thisContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualifications__c</field>
            <value>
                <elementReference>Qualifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Years_of_Experience</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Seeker_Qualification__c</object>
    </recordCreates>
    <recordLookups>
        <name>ContactLookup</name>
        <label>ContactLookup</label>
        <locationX>611</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessages</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Address</assignToReference>
            <field>npe01__Home_Address__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetJSQ</name>
        <label>GetJSQ</label>
        <locationX>602</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EditJSQ_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessages</targetReference>
        </faultConnector>
        <filters>
            <field>Qualifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_or_Edit_Qualifications</elementReference>
            </value>
        </filters>
        <object>Job_Seeker_Qualification__c</object>
        <outputAssignments>
            <assignToReference>JSQdesc</assignToReference>
            <field>Desc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JSQdetail</assignToReference>
            <field>Detail__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>JSQyears</assignToReference>
            <field>Years_of_Experience__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>user_qualifications_lookup</name>
        <label>user_qualifications_lookup</label>
        <locationX>1010</locationX>
        <locationY>72</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>qual_val_loop</targetReference>
        </connector>
        <filters>
            <field>Job_Seeker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContactID</elementReference>
            </value>
        </filters>
        <object>Job_Seeker_Qualification__c</object>
        <outputReference>qual_var</outputReference>
        <queriedFields>Qualifications__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Qualification</name>
        <label>Update Qualification</label>
        <locationX>602</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessages</targetReference>
        </faultConnector>
        <filters>
            <field>Job_Seeker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Qualifications__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_or_Edit_Qualifications</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Desc__c</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Detail__c</field>
            <value>
                <elementReference>Details_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Years_of_Experience__c</field>
            <value>
                <elementReference>Years_of_Experience_0</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Seeker_Qualification__c</object>
    </recordUpdates>
    <screens>
        <name>CreateNewJSQ</name>
        <label>Create New JSQ</label>
        <locationX>96</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>thisNewQualification</targetReference>
        </connector>
        <fields>
            <name>Qualifications</name>
            <choiceReferences>newQualification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Qualifications</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_of_Experience</name>
            <dataType>Number</dataType>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Details</name>
            <dataType>String</dataType>
            <fieldText>Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>EditJSQ_0</name>
        <label>Edit JSQ</label>
        <locationX>819</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Qualification</targetReference>
        </connector>
        <fields>
            <name>thisQual</name>
            <fieldText>{!Add_or_Edit_Qualifications}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>JSQdesc</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Details_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>JSQdetail</elementReference>
            </defaultValue>
            <fieldText>Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Years_of_Experience_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>JSQyears</elementReference>
            </defaultValue>
            <fieldText>Years of Experience</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <screens>
        <name>ErrorMessages</name>
        <label>ErrorMessages</label>
        <locationX>821</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Oops</name>
            <fieldText>Sorry, there seems to be an error with the data.
{!$Flow.FaultMessage}
Contact: {!thisContactID}
Qualification: {!thisJSQid}
New Qualification: {!addedQualification}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Quals_Index</name>
        <label>Quals_Index</label>
        <locationX>1020</locationX>
        <locationY>289</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Qual_List</name>
            <fieldText>List of qualifications:
{!qual_looped}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>TEST</name>
        <label>TEST</label>
        <locationX>1014</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Existing_Qualificationsrb</name>
            <choiceReferences>ExistingQualifications</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existing Qualifications-rb</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OperationReview</name>
            <fieldText>{!addedQualification} added
{!thisContactID} contact
{!thisJSQid} existing q.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fields</name>
            <fieldText>-----------------------------------
new field data:
{!Description_0}
{!Details_0}
{!Years_of_Experience_0}
for:
{!Add_or_Edit_Qualifications} ({!FirstName})</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>92</locationX>
        <locationY>111</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Or_Edit_Qs</targetReference>
        </connector>
        <fields>
            <name>Greetings</name>
            <fieldText>Welcome, {!FirstName}!

Here is the information we currently have for you:

email: {!Email}
address: {!Address}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_or_Edit_Qualifications</name>
            <choiceReferences>ExistingQualifications</choiceReferences>
            <choiceReferences>Add_New</choiceReferences>
            <choiceReferences>Up_to_Date_go_to_jobs_list</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Add_New</defaultSelectedChoiceReference>
            <fieldText>Add or Edit Qualifications</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>ContactLookup</startElementReference>
    <variables>
        <name>addedQualification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Banana</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ListView</objectType>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSQdesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSQdetail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JSQyears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>q_updated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>qual_looped</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Seeker_Qualification__c</objectType>
    </variables>
    <variables>
        <name>qual_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Seeker_Qualification__c</objectType>
    </variables>
    <variables>
        <name>qual_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ListView</objectType>
    </variables>
    <variables>
        <name>Qualification</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Qualification__c</objectType>
    </variables>
    <variables>
        <name>thisContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0031a00000WgaBY</stringValue>
        </value>
    </variables>
    <variables>
        <name>thisJSQid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
